/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800&family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Solway:wght@300;400;500;700;800&display=swap');
/* TAILWIND */
@import "tailwindcss";
/* DEFAULT FONT (important) */
body {
  font-family: 'Poppins', sans-serif;
}

/* FONT UTILITY CLASSES */
.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-barlow {
  font-family: 'Barlow', sans-serif;
}
.font-solway {
  font-family: 'Solway', serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-playfair {
  font-family: 'Playfair', serif;
}

.font-bodoni {
  font-family: 'Bodoni Moda', serif;
}

/* THEME VARIABLES */
@theme {
  --color-nav: #e7f66c;
  --color-bgclr: #222222;
  --color-crd: #010f17;
  --color-topclr: #4f570e;

  --breakpoint-xs: 350px;
}

/* HIDE SCROLLBAR */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
